.vet-booking-container {
  text-align: center;
  padding: 50px 40px;
  background: #fef8f2;
  min-height: 100vh;
  margin-top: 5px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: #ddd;
  margin: 20px 0;
}

.progress {
  height: 5px;
  background: #ff7b54;
}

.search-input {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.vet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.vet-item {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.vet-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.vet-info h4 {
  margin: 0;
}

.vet-info p {
  margin: 0;
  color: gray;
}

.select-vet {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.next-button {
  margin-top: 20px;
  background: #ff7b54;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
